<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
    <link rel="stylesheet" href="../static/css/home.css">
   
</head>

<body>
    <header>
        <div class="nm">
            <h1>DATA MANAGEMENT</h1>
        </div>
        <div class="right-content">
            <!-- Optional content for the right side -->
        </div>
    </header>
    
    <div class="wrapper">
        <div class="logo-icon">
            <img src="../static/image/Logo.svg" alt="logo_image">
        </div>
        <div class="containerr">
            <h1 id="text">Trusted data security and efficient management.</h1>
        </div>
    </div>
   
    <div class="container">
        <div class="card">
            <h1 style="font-family: 'Poppins', sans-serif;">Please Visit Here</h1>
            
            <!-- For Login  -->
            <button>
                <a href="accounts/login/" style="text-decoration: none; color: white;">For Login</a>
            </button>
            

           
    </div>
    <h1>{{Result}}</h1>


    <footer>
        <div class="marquee-container">
            <marquee class="marquee-text" behavior="scroll" direction="left">
                Note: The admin can create an account only one time. If the admin wants to create another account, they must delete the existing account first. Only then can a new account be created.
            </marquee>
        </div>
    </footer>
    <script src="../static/js/home.js">
        
    </script>
</body>
</html>
